header
{
display: flex;
justify-content: space-between;
background-color: #40407a;
border-bottom: 8px solid #ffda79;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;


}

nav{
 text-align: right;

}

a{
    display: inline-flex;
    align-items: center;
font-size: 20px ;
font-family: "fira code"; 
font-weight: 500;
text-decoration:none;
margin-right: 30px;
color: aquamarine;


}

a::before{
    content: "";
    background-color: rgb(6,128,243);
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
#button{
    display: inline-block;
    background-color: #ffda79;
    border-radius: 7px;
    line-height: 40px;
    height: 40px;
     padding-right: 20px; 
     padding-left: 20px;
     box-shadow: 5px -3px 3px rgb(6, 128, 243);
     border-right: 0;
     transition:transform 100ms linear;
    }
#button:hover{
    transform: scale(1.2);
}
