.banner{
    background-color: blueviolet;
    height: 700px;
    background-repeat: no-repeat;
    background-size:100% ; 
    border-bottom: 8px solid #000;
  
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 600px; 
}
.banner .box{
    margin-bottom: 40px;
    margin-top: 115px;
    margin-left: 90px;
}
.banner .navegation{
  display: flex;
  justify-content: space-around;

}